<div class="flexbox w-fit items-center bg-cyan-600 rounded border border-purple-600">
  Courses for stdents:
  <%= for(int i = 0; i <= data.size() ;i++) %><%{
    console.log(`{data.title}`);
  }%>
</div>