<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="<%= csrfToken %>">
        <h1>Welcome <%= user.name %></h1>  <button class="rounded shadow-lg font-bold font- shadow-cyan-500/50 bg-red-600" onclick="window.location.href='/login.ejs'" type="submit">Signout</button>
        <h2><%= user.role %></h2>
        <button class="rounded shadow-lg font-bold font- shadow-cyan-500/50 bg-red-600" onclick="window.location.href='/new_course'" type="submit">Create a new course</button>
        <button class="rounded shadow-lg font-bold font- shadow-cyan-500/50 bg-red-600" onclick="window.location.href='/courses'" type="submit">My courses</button>
        <button class="rounded shadow-lg font-bold font- shadow-cyan-500/50 bg-red-600" onclick="window.location.href='/reports'" type="submit">View reports</button>
    </head>
    <body>
        <hr class="mx-auto mr-2 ml-2 font-semibold px-5 py-5">
        
        <script src = "https://cdn.tailwindcss.com"></script>
        <link href = './css/styles.css' rel="stylesheet">
    </body>
</html>

